body{
    margin: 0;
}

header{
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title{
    /*フォント・サイズなど*/
    font-size:40px;
    color: black;
    font-weight: bold;
    /*配置*/
    text-align: center;
}