header{
    /*背景画像*/
    background-image: url(../images/IMG_1104.jpeg);
    background-size: cover;
    width: 100%;
    aspect-ratio: 3/2;
    background-repeat: no-repeat;
    /*配置*/
    position: relative;
}

/*タイトル*/
.header-title{
    /*フォント・サイズなど*/
    font-size:40px;
    color: black;
    font-weight: bold;
    /*配置*/
    background-color: white;
    text-align: center;
}