
/*==================プロフィール========================*/
/*プロフィール全体*/
.profile{
    position: relative;
    background-color: black;
    display: flex;
    padding: 20px;
}
/*タイトル*/
.profile-title{
    margin:0px;
    padding: 10px;
    background-color: black;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
/*プロフィール写真*/
.profile img{
    width:400px;
    height: 400px;
}

/*プロフィールテキスト全体*/
.profile-text{
    /*フォント*/
    color: white;
    border-left: 2px solid gray;
    /*位置*/
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 50px;
}
/*伊藤壮生*/
.profile-text h2{
    font-size: 50px;
    margin: 0px;
}

/*自己紹介テキスト*/
.profile-text p{
    font-size: 20px;
    margin-top: 10px;
}

/*三角形*/
.triangle-right{
    /*位置*/
    position: absolute;
    right:30px;
    bottom: 20px;
    /*図形作成*/
    width: 0px;
    height: 0px;
    border-bottom: 80px solid white;
    border-left: 80px solid transparent;
}

/*======================経歴=======================*/
.career{
    background-color: rgb(110, 192, 250);
    position: relative;
}
/*タイトル*/
.career-title{
    margin:0px;
    padding: 20px;
    background-color: none;
    border-bottom:2px solid rgb(65, 65, 65) ;
    /*フォント*/
    color: black;
    font-size: 30px;
    text-align: center;
}

/*三角形*/
.triangle-left{
        /*位置*/
        position: absolute;
        left:30px;
        bottom: 30px;
        /*図形作成*/
        width: 0px;
        height: 0px;
        border-bottom: 100px solid rgb(255, 255, 255);
        border-right: 100px solid transparent;
}


.career-list{
    
    /*配列*/
    display: flex;
    flex-direction: column;
    /*フォント*/
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    /*配置*/
    padding: 30px;
    margin:auto;
}

.career-list-item1,.career-list-item2,.career-list-item3,.career-list-item4{
    /*枠の上下マージン*/
    margin: 10px 0px;
    /*枠線*/
    border-left: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-left:20px;
    padding-top: 10px;
    margin-left: 0px;
}
/*リスト1*/

/*リスト2*/
.career-list-item2{
    margin-left: 150px;
}
/*リスト3*/
.career-list-item3{
    margin-left: 300px;
}
/*リスト4*/
.career-list-item4{
    margin-left: 450px;
}



/*====================趣味=====================*/


.hobby{
    background-color: antiquewhite;
}
/*タイトル*/
.hobby-title{
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid gray;
    margin: 0px;
    padding: 20px;
}

.hobby-list{
    display: flex;
    padding: 20px;
}


.hobby-list-item{
    list-style: none;
    justify-content: center;

}

/*写真*/
.hobby-list-item img{
    /*大きさ*/
    width: 90%;
    aspect-ratio: 3/2;
    /*配置*/
    display: block;
    margin: auto;
}

/*テキスト*/
.hobby-list-text-all{
    text-align: center;
    font-size: 20px;

}
.hobby-list-text1{
    font-size: 25px;

}
.hobby-list-text2{
    /*配置*/
    width: 90%;
    margin: auto;

}

/*=============================================*/

.career2-table{
    border: 1px solid black;
    /*フォント*/
    font-size: 20px;
    color: black;
    /*位置*/
    position: relative;   
}

.career2-18old{
    position: absolute;
    top: 0px;
    left: 0px;
}

.career2-19old{
    position: absolute;
    top: 25%;
    left: 100px;
}

.career2-20old{
    position: absolute;
    top: 50%;
    left: 200px;
}

.career2-21old{
    position: absolute;
    top: 75%;
    left: 300px;
}

/*枠線*/
.career2-18old td, .career2-19old td, .career2-20old td, .career2-21old td {
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    padding: 10px;
}