main{
    background-color: aqua;
}

.works{

}

.works-title{
    margin: auto;
    text-align: center;
}

.works-nav{

}

.works-nav ul{
    /*リストの配置*/
    display: flex;
    flex-wrap: wrap; /*折り返し指定*/
    justify-content: center;
    gap:3px;
    border: 2px solid black;
    padding: 0%;
}

.works-list{
    list-style: none;
    border: 3px solid blue;
    /*配置*/
    width: 600px;
    padding: 10px;
}

.works-list a{
    text-decoration: none;
    display: inline-block;
    border: 3px solid red;
}

.works-img{
    /*サイズ*/
    width: 500px;
    aspect-ratio: 1.681/1;
    /*配置*/
    margin: 0%;
}