body{
    margin: 0;
    background-color: #ededed;
}

header{
    background-color: #ededed;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title{
    /*フォント・サイズなど*/
    font-size:25px;
    color: black;
    font-weight: bold;
    /*配置*/
    text-align: center;
}