body{
    margin: 0;
}

header{
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title{
    /*フォント・サイズなど*/
    font-size:35px;
    color: black;
    font-weight: bold;
    /*配置*/
    text-align: center;
}