main{
    
    margin: 0px 20px;
    background-color: antiquewhite;
    height: auto;
}

/*未実装*/
.attention{
    width: 100%;
    font-size: 200px;
    text-align: center;
    color: yellow;
    background-color: brown;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0%;
}


/*タイトル*/
.works-title{
    margin:0px 30px;
    padding: 10px 0px ;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}

/*テキスト*/
.works-text{
    /*フォント*/
    font-size: 20px;
    color: white;
    background-color: darkolivegreen;
    /*配置*/
    text-align: center;
    width: calc(90% - 20px);
    margin: 20px auto;
}

.works-nav{
    /*配置*/
    width: 90%;
    margin: auto;
}

.works-nav ul{
    /*リストの配置*/
    display: flex;
    flex-wrap: wrap; /*折り返し指定*/
    justify-content:space-around;
    padding: 0%;
}

/*リスト*/
.works-list{
    list-style: none;
    /*配置*/
    width: calc(50% - 20px);
    padding: 0;
    margin: 10px;
}

/*リンク*/
.works-list a{
    text-decoration: none;
    display: inline-block; /*写真とリンクサイズを一致*/
}

/*リンク上にマウスが乗った時*/
.works-list a :hover, .works-img :hover{
    transform: scale(1.05,1.05);
    transition: all 0.5s;
}

/*画像*/
.works-img{
    /*サイズ*/
    width: 100%;
    aspect-ratio: 1.681/1;
    /*配置*/
}