.sakura{
	width: 100%;
}

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: calc(100% - 20px);
	height: 100%;
	top: 0;
	left: 10px;
	background-color:#FEE7E7;/*背景色*/
}