
@media screen and (min-width:1025px) {
  #splash{
    display: none;
  }
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background:#333;
  text-align:center;
  color:#fff;
}
    
/* Loading画像中央配置　*/
#splash_logo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    
/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width:100px;
}
    
    /* fadeUpをするアイコンの動き */
.fadeUp{
  animation-name: fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
}
    
@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }
    
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*=========================追加設定=============================*/
#video{
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: auto; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 100vh; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
}
