main{
    padding: 0px 10px;
}

/*==================プロフィール========================*/
/*プロフィール全体*/
.profile{
    position: relative;
    background-color: black;
    padding: 10px;
}
/*タイトル*/
.profile-title{
    margin:0px 10px;
    padding: 10px;
    background-color: black;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}

/*プロフィール写真*/
.profile img{
    width:200px;
    height: 200px;
    /*配置*/
    display: block;
    margin: 20px auto;
}

/*プロフィールテキスト全体*/
.profile-text{
    /*フォント*/
    color: white;
    border-left: 2px solid gray;
    /*位置*/
    margin: 10px 20px 0px 20px;
    padding-left: 10px;
}
/*伊藤壮生*/
.profile-text h2{
    font-size: 25px;
    margin: 0px;
}

/*自己紹介テキスト*/
.profile-text p{
    font-size: 16px;
    margin-top: 10px;
}

/*三角形*/
.triangle-right{
    /*位置*/
    position: absolute;
    right:10px;
    bottom: 10px;
    /*図形作成*/
    width: 0px;
    height: 0px;
    border-bottom: 50px solid white;
    border-left: 50px solid transparent;
}

/*======================経歴=======================*/
.career{
    background-color: #333;
    position: relative;
    padding: 10px;
}
/*タイトル*/
.career-title{
    margin:0px 10px;
    padding: 10px;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}

/*三角形*/


.career-list{
    
    /*配列*/
    display: flex;
    flex-direction: column;
    /*フォント*/
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    /*配置*/
    padding: 10px 0px 10px 10px;
    margin:10px 20px 0px 20px;
    /*枠線*/
    border-left: 2px solid white;
}

.career-list-item1,.career-list-item2,.career-list-item3,.career-list-item4{
    /*枠の上下マージン*/
    margin: 5px 0px;
    /*枠線*/
    border-left: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-left:10px;
}


/*====================趣味=====================*/
.hobby{
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

/*タイトル*/
.hobby-title{
    margin:0px 10px;
    padding: 10px;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}

/*リスト全体*/
.hobby-list{
    /*配置*/
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: white;
}

/*個々のリスト*/
.hobby-list-item{
    list-style: none;
    margin-bottom:20px ;
}

/*写真*/
.hobby-list-item img{
    /*大きさ*/
    width: 95%;
    aspect-ratio: 3/2;
    /*配置*/
    display: block;
    margin: auto;
}

/*テキスト全体*/

/*タイトル*/
.hobby-list-text1{
    text-align: center;
    font-size: 22px;
    margin: 10px 0px;
}
/*文章*/
.hobby-list-text2{
    text-align: left;
    font-size: 16px;
    /*配置*/
    width: 95%;
    margin: auto;
}

/*====================MUSIC====================*/
/*セクション全体*/
.my-favorite-music{
    background-color: #333;
    padding: 10px;
}
/*MY FAVORITE MUSIC*/
.my-favorite-music-title{
    margin:0px 10px;
    padding: 10px;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}

/*MUSIC枠*/
.music-frame{
    padding: 10px;
}

/*埋め込み動画*/
.index-youtube-1{
    width: 100%;
    /*配置*/
    display: block;
    margin: auto;
    margin-top: 20px;
}

/*曲名*/
.music-name{
    /*フォント*/
    font-size: 20px;
    color: rgb(255, 255, 255);
    /*配置*/
    text-align: left;
    padding: 10px;
}

/*テキスト*/
.music-text{
    /*FONT*/
    color: white;
    font-size: 15px;
    text-align: left;
    /*位置*/
    margin: 0 10px;
}