
main{
    padding: 0px 40px;
}
/*==================プロフィール========================*/
/*プロフィール全体*/
.profile{
    position: relative;
    background-color: black;
    padding: 0px 20px 20px 20px;
}
/*タイトル*/
.profile-title{
    margin:0px 30px;
    padding: 10px 0px ;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
/*プロフィール写真＋テキスト*/
.profile-img-text{
    display: flex;
}

/*プロフィール写真*/
.profile img{
    width:350px;
    height: 350px;
    margin: 20px;
}

/*プロフィールテキスト全体*/
.profile-text{
    /*フォント*/
    color: white;
    border-left: 2px solid gray;
    /*位置*/
    margin: 30px 50px;
    padding-left: 50px;
}
/*伊藤壮生*/
.profile-text h2{
    font-size: 40px;
    margin: 10px 0px ;
}

/*自己紹介テキスト*/
.profile-text p{
    font-size: 20px;
}

/*三角形*/
.triangle-right{
    /*位置*/
    position: absolute;
    right:30px;
    bottom: 20px;
    /*図形作成*/
    width: 0px;
    height: 0px;
    border-bottom: 80px solid white;
    border-left: 80px solid transparent;
}

/*======================経歴=======================*/
.career{
    background-color: #333;
    padding: 0px 20px;
    position: relative;
}
/*タイトル*/
.career-title{
    margin:0px 30px;
    padding: 20px 0px 10px ;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

.career-list{
    
    /*配列*/
    display: flex;
    flex-direction: column;
    /*フォント*/
    list-style: none;
    color: white;
    font-size: 20px;
    /*配置*/
    padding: 30px;
    margin:auto;
}

.career-list-item1,.career-list-item2,.career-list-item3,.career-list-item4{
    /*枠の上下マージン*/
    margin: 10px 0px;
    /*枠線*/
    border-left: 2px solid gray;
    border-bottom: 2px solid  gray;
    padding-left:20px;
    padding-top: 10px;
    margin-left: 0px;
}
/*リスト1*/

/*リスト2*/
.career-list-item2{
    margin-left: 130px;
}
/*リスト3*/
.career-list-item3{
    margin-left: 260px;
}
/*リスト4*/
.career-list-item4{
    margin-left: 390px;
}


/*三角形*/
.triangle-left{
    /*位置*/
    position: absolute;
    left:50px;
    bottom: 50px;
    /*図形作成*/
    width: 0px;
    height: 0px;
    border-bottom: 120px solid rgb(255, 255, 255);
    border-right: 120px solid transparent;
}

/*====================趣味=====================*/


.hobby{
    background-color: #000;
    padding: 0px 20px 20px;
}

/*タイトル*/
.hobby-title{
    margin:0px 30px;
    padding: 20px 0px 10px;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

/*リスト全体*/
.hobby-list{
    display: flex;
    padding: 20px;
    color: white;
}

/*リスト個々*/
.hobby-list-item{
    list-style: none;
    justify-content: center;
    width: 33.3%;

}

/*写真*/
.hobby-list-item img{
    /*大きさ*/
    width: 90%;
    aspect-ratio: 3/2;
    /*配置*/
    display: block;
    margin: auto;
}

/*テキスト全体*/
.hobby-list-text-all{
    text-align: center;
    font-size: 20px;
}
/*テキストタイトル*/
.hobby-list-text1{
    font-size: 25px;
}

/*テキスト本文*/
.hobby-list-text2{
    /*配置*/
    width: 90%;
    margin: auto;

}


/*====================MUSIC====================*/
/*セクション全体*/
.my-favorite-music{
    background-color: #333;
    padding: 0px 20px 20px 20px;
}
/*MY FAVORITE MUSIC*/
.my-favorite-music-title{
    margin:0px 30px;
    padding: 20px 0px 10px ;
    border-bottom:2px solid grey ;
    /*フォント*/
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

/*埋め込み動画*/
.index-youtube-1{
    width: 70%;
    height: 500px;
    /*配置*/
    display: block;
    margin: auto;
    margin-top: 20px;
}

/*曲名*/
.music-name{
    /*フォント*/
    font-size: 30px;
    color: rgb(255, 255, 255);
    /*配置*/
    text-align: center;
    padding: 10px;
}


/*テキスト*/
.music-text{
    /*FONT*/
    color: white;
    font-size: 20px;
    text-align: center;
    /*位置*/
    margin: 0 10px;
}
