body{
    margin: 0;
}

header{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}


/*===============================================
                    ~480px
================================================*/
@media screen and (max-width:480px){
    header{
        background-image: url(../../images/titech.jpeg);
        position: relative;
    }
    
    .header-title{
        /*フォント・サイズなど*/
        font-size:45px;
        text-shadow:3px 3px 0 #333;
        color: rgb(255, 255, 255);
        font-weight: bold;
        background-color:rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        /*配置*/
        text-align: center;
        padding: 3px 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    /*三角形上部　黒*/
    .triangle-1{
        /*位置*/
        position: absolute;
        left:0px;
        top: 0px;
        /*図形作成*/
        width: 0px;
        height: 0px;
        border-top: 300px solid rgba(0, 0, 0, 0.6);
        border-right: 300px solid transparent;
    }
    /*三角形上部　白*/
    .triangle-2{
        /*位置*/
        position: absolute;
        left:0px;
        top: 0px;
        /*図形作成*/
        width: 0px;
        height: 0px;
        border-top: 250px solid rgba(255, 255, 255, 0.6);
        border-right: 250px solid transparent;
    }
    
    /*三角形下部　右白*/
    .triangle-3{
        /*位置*/
        position: absolute;
        right:0px;
        bottom: 0px;
        /*図形作成*/
        width: 0px;
        height: 0px;
        border-bottom: 250px solid rgba(255, 255, 255, 0.6);
        border-left: 250px solid transparent;
    }
    /*三角形下部　右黒*/
    .triangle-4{
        /*位置*/
        position: absolute;
        right:0px;
        bottom: 0px;
        /*図形作成*/
        width: 0px;
        height: 0px;
        border-bottom: 100px solid rgba(0, 0, 0, 0.6);
        border-left: 100px solid transparent;
    }
}

/*===============================================
                    481px~1024px
================================================*/
@media screen and (min-width:481px) and (max-width:1024px){
    header{
        /*背景画像*/
        background-image: url(../../images/IMG_1104.jpeg);
        aspect-ratio: 3/2;
        overflow: hidden;
    }
    
    /*タイトル*/
    .header-title{
        /*フォント・サイズなど*/
        font-size:50px;
        color: black;
        font-weight: bold;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
        background-color: rgba(255, 255, 255, 0.7);
        padding: 0px 30px;
        /*配置*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}

/*===============================================
                    1025px~
================================================*/
@media screen and (min-width:1025px) {
        
    header{
        /*背景画像*/
        background-image: url(../../images/IMG_1104.jpeg);
        aspect-ratio: 3/2;
    }

    .header-title{
        /*フォント・サイズなど*/
        font-size:100px;
        color: black;
        font-weight: bold;
        /*配置*/
        position: absolute;
        top: 50px;
        left: 30px;
    }

    .header-menu{
        padding: 0px;
        /*配置*/
        position: absolute;
        top: 200px;
        left: 30px;

    }

    .header-menu ul{
        list-style: none;
        padding: 0px;
        display: flex;
    }

    .header-menu-item{
        text-align: center;
        padding: 10px;
    }

    .header-menu-item a{
        /*フォント設定*/
        text-decoration: none;
        color: black;
        font-size: 30px;
        /*枠*/
        display: inline-block;
        width: 200px;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
        /*配置*/
    }

}
