body{
    margin: 0%;
}
header{
    /*背景画像*/
    background-image: url(../../images/IMG_1104.jpeg);
    background-size: cover;
    width: 100%;
    aspect-ratio: 3/2;
    background-repeat: no-repeat;
    /*配置*/
    position: relative;
    overflow: hidden;
}

/*タイトル*/
.header-title{
    /*フォント・サイズなど*/
    font-size:50px;
    color: black;
    font-weight: bold;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px 30px;
    /*配置*/
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}