body{
    margin: 0;
}

header{
    /*背景画像*/
    background-image: url(../../images/IMG_1104.jpeg);
    background-size: cover;
    width: 100%;
    aspect-ratio: 3/2;
    background-repeat: none;
    /*配置*/
    position: relative;
}

.header-title{
    /*フォント・サイズなど*/
    font-size:100px;
    color: black;
    font-weight: bold;
    /*配置*/
    position: absolute;
    top: 50px;
    left: 30px;
}

.header-menu{
    padding: 0px;
    /*配置*/
    position: absolute;
    top: 200px;
    left: 30px;

}

.header-menu ul{
    list-style: none;
    padding: 0px;
    display: flex;
}

.header-menu-item{
    text-align: center;
    padding: 10px;
}

.header-menu-item a{
    /*フォント設定*/
    text-decoration: none;
    color: black;
    font-size: 30px;
    /*枠*/
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    /*配置*/
}

/*フッター*/
footer{
    margin: 0px;
    padding: 5px;
    background-color: white;
    
}

.footer-sns-items{
    display: flex;
    /*配置*/
    align-items: center; /*y軸*/
    justify-content: center; /*x軸*/
    padding: 0px;
    margin: 0px;
}

.footer-sns-items li{
    list-style: none;
    margin: 0px 10px;
}

.footer-sns-item{
    display: inline-block;
    align-items: center;
}


.footer-sns-item img{
    width: 50px;
    height: auto;
}

.footer-text{
    text-align: center;
}